<form action="">
    <input type="text" name="stud_no" value="{{ data.stud_no }}">
    <input type="text" name="name" value="{{ data.name }}">
    <input type="hidden" name="id" value="{{ data.id }}">
</form>
